<div class="m_wrapper">
<div class="title_wrapper">
  <h3 class="end_title">削除が完了しました。</h3>
</div>
  <div class="toppage_btn_wrapper">
    <a href="/" class="toppage_btn">トップページへ戻る</a>
  </div>
</div>